{% extends 'base.html.twig' %}

{% block title %}Hello CartController!
{% endblock %}

{% block body %}
	<h1>Votre panier</h1>
	{% if items|length > 0  %}

		<table class="table">
			<thead>
				<th>Produit</th>
				<th>Prix</th>
				<th>Qty</th>
				<th>Total</th>
				<th></th>

			</thead>
			<tbody>

				{% for item in items %}
					<tr>
						<td>{{item.product.name}}</td>
						<td>{{item.product.price}}</td>
						<td>
							<a class="btn btn-success btn-sm" href="{{path('cart_add', {'id': item.product.id}) }}?returnToCart=true">
								<i class="fas fa-plus"></i>
							</a>
							{{item.qty}}
							<a class="btn btn-danger btn-sm" href="{{path('cart_decrement', {'id': item.product.id}) }}?returnToCart=true">
								<i class="fas fa-minus"></i>
							</a>
						</td>
						<td>{{ item.total}}</td>
						<td>
							<a class="btn btn-danger" href="{{path('cart_remove', {'id': item.product.id})}}">Supprimer</a>
						</td>

					</tr>

				{% endfor %}
			</tbody>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="3">Total:</td>
				<td>{{totalPanier}}</td>
			</tr>
		</tfoot>
	</table>
	{% if app.user %}
		<h2>Confirmer votre commande :</h2>

		{{ form_start(confirmationForm, {'action': path('purchase_confirm')}
	) }}
		{{ form_widget(confirmationForm) }}
		<button type="submit" class="btn btn-success">Confirmer</button>
		{{ form_end(confirmationForm) }}
	{% else %}
		<h2>Vous devez etre connecté pour confirmer la commande</h2>
		<a href="{{path('app_login')}}" class="btn btn-success">Connexion</a>
		ou
		<a href="#">créer un compte</a>
	{% endif %}
{% else %}
	<h2>Votre panier est vide</h2>
{% endif %}{% endblock %}
